
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

html{

  font-size: 100%; // 10px/rem;

  @media only screen and (max-width: 4100px) {
    font-size: 93.75%;  // 9px/rem;
  }
  @media only screen and (max-width: 3800px) {
    font-size: 87.5%;  // 9px/rem;
  }

  @media only screen and (max-width: 3400px) {
    font-size: 81.25%;  // 9px/rem;
  }
  @media only screen and (max-width: 3100px) {
    font-size: 75%;  // 9px/rem;
  }
  @media only screen and (max-width: 2800px) {
    font-size: 68.75%;  // 9px/rem;
  }
  @media only screen and (max-width: 2500px) {
    font-size: 62.5%; // 10px/rem;
  }
  @media only screen and (max-width: 2220px) {
    font-size: 56.25%;  // 9px/rem;
  }
  @media only screen and (max-width: 1920px) {
    font-size: 50%;  // 8px/rem;
  }
  @media only screen and (max-width: 1600px) {
    font-size: 43.75%;  // 7px/rem;
  }
  @media only screen and (max-width: 1400px) {
    font-size: 37.5%;  // 6px/rem;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 31.25%;  // 5px/rem;
  }
  @media only screen and (max-width: 968px) {
    font-size: 28.125%;  // 4.5px/rem;
  }
}

body {
  line-height: 1.7;
  box-sizing: border-box;
}


@font-face {
  font-family: Gilro-extraBold;
  src: url(/assets/fonts/gilroy-extrabold.otf);
}
@font-face {
  font-family: Gilro-light;
  src: url(/assets/fonts/gilroy-light.otf);
}
