.homepage {
  .container {
    width: 90.9375%;
    margin: 0 auto;

    .top-bar {
      margin-top: 5.7rem;
      height: 5.7rem;
      display: flex;
      justify-content: space-between;

      &__company-name {
        font-size: 4.9rem;
        font-family: Gilro-light;
      }

      &__btn-toggle-form {
        font-size: 2rem;
        width: 25.7rem;
        height: 5.6rem;
        border-radius: 2.8rem;
        background-color: #000000;
        color: white;
        cursor: pointer;
        font-family: Gilro-extraBold;
      }
    }
    .homepage__main-content {
        margin-top: 15.8rem;
        display: flex;
        justify-content: space-between;
        .slogan-box {
          width: 61.5693%;
          p,a {
            font-size: 20.6rem;
            color: #D5323E;
            line-height: 20.6rem;
            font-family: Gilro-extraBold;

          }
          .typewrite {
            min-height: 41.2rem;
          }
        }
        .description {
          align-self: flex-end;
          
          p {
            font-size: 3rem;
            color: #000000;
            width: 37.2rem;
            line-height: 3.5rem;
            font-family: Gilro-extraBold;
            position: relative;
            &::after{
              content: "";
              width: .2rem;
              height: 7.5rem;
              background-color: #000000;
              position: absolute;
              top:100%;
              left: 0;
              margin-top: 2rem;
            }
          }

        }
    }
  }
}

.ant-drawer-content {
  background-color: #D5323E;
  color: #FFFFFF;

  .ant-drawer-body {
  padding: 0;
  }

  .form {
    color: #FFFFFF;
    position: relative;

     &__close-btn {
      position: absolute;
      border-radius: 50rem;
      background-color: #000000;
      color: #FFFFFF;
      width: 6.1rem;
      height: 6.1rem;
      top: 3.2rem;
      right: 4rem;
      padding: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
     }
    & > * {   
      padding-left: 15.3%;
      padding-right:9%;
    }

    h1 {
      font-family: Gilro-extraBold;
      font-size: 4.8rem;
      line-height: 5.3rem;
      color: #FFFFFF;
      padding-top: 11.4rem;
      padding-bottom: 5rem;
      border-bottom: 1px solid #E0E0E0;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-top: 6.75rem;
      padding-right: 15.3%;
      label {
        font-family: Gilro-extraBold;
        font-size: 2rem; 
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
      }
      
      &:last-child{
        margin-top: 5rem;
      }

      input,textarea {
        padding: 2.2rem;
        height: 6.7rem;
        background-color: #FFFFFF;
        color: #000000;
        font-size: 2.2rem;
      }
      input {
        height: 6.7rem;
      }
      textarea {
        height: 16.3rem;
      }
    }
    .btn-submit {
      border-radius: 3.2rem;
      background-color: #000000;
      height: 6.4rem;
      width: 30.8%;
      text-align: center;
      font-family: Gilro-extraBold;
      display: flex;
      justify-content: center;
      margin: 4.4rem auto;
      cursor: pointer;
      padding: 0;
    }
  }
}
.btn,.btn:hover,.btn:focus {
  outline: none;
  border: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #939393;
}

.ant-drawer-mask {
  opacity: 0 !important;
}